<!DOCTYPE html>
<html>
  <head>
    <title>Fasana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon"
      type="image/png"
      href=" <%= image_url('fasanadots.png') %>">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.fasanaDots = "<%= image_url('fasanadots.png') %>"
      window.female = "<%= image_url('female.png') %>"
      window.male = "<%= image_url('male.png') %>"
      window.clipboard = "<%= image_url('clipboard.png') %>"
    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
